<mat-toolbar color="primary">
  <span>Multiple Image to C Array Converter</span>
  <span class="example-spacer"></span>

  <a href="https://github.com/bahadrix/tftconverter" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </a>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p>This is an open source project. You can access the project's github for more details, issues and the code itself at: <a class="mat-accent" href="https://github.com/bahadrix/tftconverter">github.com/bahadrix/tftconverter</a></p>
</div>
