.example-spacer {
  flex: 1 1 auto;
}

.content {
  height: 100vh;
  max-width: 500px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.footer {
  color: #c6c6c6;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}


.footer a:link, a:visited, a:hover, a:active {
  color: #c6c6c6;

}
